/* CSS BY: PJ GRAHAM */

/* Imported fonts link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root variables for colors and fonts */

:root {

    /* colors */
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: :#1E1E1E; 
    --white: #ffffff; 
    --black: #000000;

    /* fonts */
    --heading-fonts: 'Kavoon', cursive, sans-serif; 
    --body-fonts: 'Inter', sans-serif; 
}

/* global styles (mobile first/small) */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--lavender);
    max-width: 450px;
    margin: 0 auto;
    font-family: var(--body-fonts);
}

/* header - h1, h2, nav */

header {
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
}


h1, h2 {
    font-family: var(--heading-fonts);
    color: var(--white);
}

h1 {
    font-size: 3em;
    margin: 0 auto;
    padding-top: 30px;
}

h2 {
    font-size: 2em;
    padding: 15px 0 0 15px;
}

nav h2 {
    background-color: var(--yellow);
    font-family: var(--body-fonts);
    color: var(--black);
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 5px;
    padding-top: 10px;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
    background-color: var(--yellow);
}

nav li {
    text-align: center;
    text-transform: capitalize;
}

nav a {
    background-color: var(--white);
    color: var(--purple);
    font-weight: bold;
    text-decoration: none;
}

/* Services Section */

#services {
    background-color: var(--purple);
}

#services img {
    padding: 15px;
}

#flex1, #flex2, #flex3, #flex4, #flex5, #flex6, #flex7 > div {
    display: block;
    background-color: var(--white);
    height: fit-content;
    margin: 25px;
    border-radius: 10px;
    padding: 25px;
}

#services p {
    line-height: 1.5em;
}

/* subheadings h3, h4, p */

h3 {
    font-size: 1.5em;
    color: var(--yellow);
    font-weight: bolder;
    padding: 5px 0 5px 15px;
}

h4 {
    font-size: 1.15em;
    color: var(--purple);
    font-weight: bolder;
}

p {
    font-family: var(--body-fonts);
    padding-top: 10px;
    margin-bottom: 30px;

}


/* Choose Us List */

#container {
    background-color: var(--pink);
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
}

#container ul {
    display: grid;
    grid-template-rows: max-content;
}


/* Prices tables */

#prices-table1, #prices-table2, #prices-table3, #prices-table4 {
    border: 2px solid var(--yellow);
    text-align: center;
    margin: 0 auto;
}

th {
    background-color: var(--yellow);
    font-weight: bolder;
    padding: 1em;
}

td {
    background-color: var(--white);
    padding: 1em;
}


/* footer */
footer {
    display: flex;
    justify-content: center;
    color: var(--white);
}


